/* .calendar {
    table-layout:fixed;
    width: 200px;
} */

/* .day {
    text-align: right;
    width:26px;
}

.weekday {
    text-align: right;
    width:26px;

} */

.calendarContainer {
  width: 200px;
  position: relative;
  margin: 10px;
}

.card {
  position: absolute;
  width: 180px;
  height: 100px;
  left: 50%;
  margin-left: -85px;
  margin-top: 60px;
}

.month {
  margin: auto;
  text-align: center;
}

table {
  table-layout: fixed;
  width: 200px;
}

th,
td {
  width: 26px;
  text-align: right;
  overflow: hidden;
}
